<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Reservation</title>
    <link rel="stylesheet" href="/styles/edit_reservation_page.css"></head>
<body>
    <h2>Edit Reservation</h2>
    <br>
    <form th:action="@{/reservations/update/{privateCode}(privateCode=${reservation.privateCode})}" th:object="${reservation}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="input-group">
            <label for="date">Date:</label>
            <input type="date" id="date" th:field="*{date}" required />
        </div>
        <div class="input-group">
            <label for="from">From:</label>
            <input type="text" id="from" th:field="*{from}" required />
        </div>
        <div class="input-group">
            <label for="to">To:</label>
            <input type="text" id="to" th:field="*{to}" required />
        </div>
        <div class="input-group">
            <tr>
                <td>
                    <label for="room">Room:</label>
                </td>
                <td>
                    <select id="room" th:field="*{room}">
                        <option value="101">101</option>
                        <option value="102">102</option>
                        <option value="103">103</option>
                        <option value="111">111</option>
                        <option value="112">112</option>
                    </select>
                </td>
            </tr>
        </div>
        <div class="input-group">
            <label for="comment">Comment:</label>
            <input type="text" id="comment" th:field="*{comment}" />
        </div>
        <div class="input-group">
            <label for="memberList">Member List:</label>
            <input type="text" id="memberList" th:field="*{memberList}" />
        </div>
        <div class="button-group">
            <button type="submit">Update</button>
        </div>
    </form>
    <form th:action="@{/reservations/delete/{privateCode}(privateCode=${reservation.privateCode})}" method="get">
        <div class="button-group">
            <button type="submit">Delete</button>
        </div>
    </form>

</body>
</html>
