<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation Details</title>
    <link rel="stylesheet" href="/styles/reservation_details.css"></head>

</head>
<body>
<div class="container">
    <h1>Reservation Details</h1>
    <table>
        <tbody>
        <tr>
            <td class="label">Date:</td>
            <td><span th:text="${#dates.format(reservation.date, 'dd.MM.yyyy')}"></span></td>
        </tr>
        <tr>
            <td class="label">From:</td>
            <td>[[${reservation.from}]]</td>
        </tr>
        <tr>
            <td class="label">To:</td>
            <td>[[${reservation.to}]]</td>
        </tr>
        <tr>
            <td class="label">Room:</td>
            <td>[[${reservation.room}]]</td>
        </tr>
        <tr>
            <td class="label">Comment:</td>
            <td>[[${reservation.comment}]]</td>
        </tr>
        <tr>
            <td class="label">Member List:</td>
            <td>[[${reservation.memberList}]]</td>
        </tr>
        <tr>
            <td class="label">Public Code:</td>
            <td class="greenCode">[[${reservation.publicCode}]]</td>
        </tr>
        <tr>
            <td class="label">Private Code:</td>
            <td class="redCode">[[${privateCode}]]</td>
        </tr>
        </tbody>
    </table>
    <a href="/">Back to Main Page</a>
</div>
</body>
</html>