<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="stylesogin-style.css">

</head>
<body>
<div class="container">

    <form method="post" action="/login">
        <div class="public">
            <div><labe>Enter Public Key</labe></div>
            <div><input type="text" id="public-input" required="false"></div>
            <div><button type="button">Submit</button></div>
        </div>

        <div class="private">
            <div><labe>Enter Private Key</labe></div>
            <div><input type="text" id="private-input" required="false"></div>
            <div><button type="button">Submit</button></div>
        </div>

        <div class="continue">
            <div><button type="button">Continue without Key</button></div>
        </div>
    </form>

</div>
</body>
</html>